<div class="navbar">
    <div class="navbar-inner">
        <ul class="nav">


            <li <check if="{{ @page_head == 'User List' }}">class="active"</check>><a href="{{ @BASE.'/' }}"><i class="icon-th icon-black"></i> Read</a></li>
            <li <check if="{{ @page_head == 'Create User' }}">class="active"</check>><a href="{{ @BASE.'/user/create' }}"><i class="icon-plus-sign icon-black"></i> Create</a></li>

            <check if="{{ @page_head == 'Update User' }}">
            <li class="active"><a href="javascript:void(0);"><i class="icon-plus-sign icon-black"></i> Update</a></li>
            </check>
        </ul>
    </div>
</div>